.card {
  border-radius: 12px;
  overflow: scroll;
  border: none;
}

.card-header {
  border-bottom: none;
  font-weight: 600;
}

.mode-switch .btn {
  min-width: 120px;
}

.widget-body {
  min-height: 600px;
  position: relative;
}

zik-route-widget {
  display: block;
  width: 100%;
  height: 600px;
  /* Force a height for the widget */
}